body {
    text-align: center;
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
    color: rgb(33, 201, 178);
    font-size: 100px;
    font-family: "Manga Temple";
}

h4 {
    text-align: center;
    margin-left: 600px;
    font-family: "Manga Temple";
    margin-top: 0px;
    font-size: smaller;
}

input {
    margin-left: 25px;
}

label {
    font-size: medium;
    font-family: "Manga Temple";
}

.anime-container {
    width: 50%;
    float: left;
    display: table-cell;
}

.favorite-button {
    padding: 15px;
    background-color: #D8FAB9;
    border-radius: 16px;
    cursor: pointer;
    margin: auto;
    width: 30%;
}

#anime-title {
    font-family: "Manga Temple";
}

#functionality {
    padding-top: 30px;
    padding-bottom: 50px;
 
}

#search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 650px;
    padding-top: 30px;
    padding-bottom: 50px;
}

#random-generator {
    border-radius: 16px;
    font-family: "Manga Temple";
    padding-right: 100px;
    padding-left: 100px;
    float: center;
    resize: none;
}

#search {
    margin-left: 10px;
}

#anime-synopsis {
    padding: 50px;
    padding-top: 20px;
    text-align: left;
    font-style: italic;
    font-size: 18px;
}

#anime-title {
    padding: 50px;
    padding-top: 20px;
    text-align: center;
}

#featured-anime-image-container {
    position: relative;
    width: 50%;
}

#featured-anime {
    position: relative;
    display: table;
    width: 100%;
}

#featured-anime-image {
    max-width: 100%;
    border-radius: 20px;
    padding-right: 100px;
    padding-left: 700px;
    border-radius: 20px;
}

#anime-details {
    background-color: aquamarine;
    min-height: 700px;
    border-radius: 20px;
    max-width: 700px;
    max-height: 700px;
    margin-left: 450px;
}